<% layout("/layouts/boilerplate") %> <%- include("../includes/flash.ejs") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Add new item</h3>
    <!-- Form starts here -->
    <form
      method="POST"
      action="/croissants/<%= croissant._id%>?_method=PUT"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          name="name"
          value="<%=croissant.name%>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Name looks good!</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="price"
            value="<%= croissant.price%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          name="image"
          value="<%=croissant.image%>"
          type="text"
          class="form-control"
        />
      </div>

      <div id="croissantFields">
        <div class="mb-3">
          <label for="croissant_filling" class="form-label">Filling</label>
          <input
            name="croissant_filling"
            value="<%=croissant.filling%>"
            type="text"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="croissant_toppings" class="form-label">Toppings</label>
          <input
            name="croissant_toppings"
            value="<%=croissant.toppings%>"
            type="text"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input
            name="quantity"
            value="<%=croissant.quantity%>"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <button class="btn btn-dark">Edit</button>
    </form>
  </div>
</div>
