<% layout("/layouts/boilerplate") %> <%- include("../includes/flash.ejs") %>
<body>
  <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-3 cards-body">
    <% for(let croissant of allCroissants){%>
    <a href="/croissants/<%=croissant._id %>" class="cards-link">
      <div class="card col item-card">
        <div class="card-image-wrapper">
          <img
            src="<%= croissant.image.url %>"
            class="card-img-top"
            alt="cake_image"
          />
          <div class="card-overlay">
            <h5 class="overlay-text"><%= croissant.name %></h5>
            <p class="overlay-price">&#8377; <%= croissant.price %></p>
          </div>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
